<?php defined('_JEXEC') or die('Restricted access');

class {{component}}View{{component}} extends JViewLegacy
{
	function display($tpl = null)
	{
		// Assign data to the view
		$this->msg = 'Hello World';

		parent::display($tpl);
	}
}